<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">🌈 Vacation mode "on"</a>
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        <a class="nav-link" href="/about">About us</a>
      </div>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form>
    </div>
  </nav>


